

<%= @current_user.nickname %>
protect_page

<ul>
	<li><%= link_to 'activities', url(:activities, :index) %></li>
</ul>

<input id= "fileupload" type="file" name="photo[path]" data-url = "/photos/upload" >

