<table>
	<tr>
		<th>name</th>
		<td><%= form.text_field :name %></td>
	</tr>

	<tr>
		<th>start_at</th>
		<td><%= form.text_field :started_at %></td>
	</tr>

	<tr>
		<th>ended_at</th>
		<td><%= form.text_field :ended_at %></td>
	</tr>

	<tr>
		<th>&nbsp;</th>
		<td>
			<%= form.submit 'submit'%>
		</td>
	</tr>
</table>