<h4 class="pTitle">update activities</h4>
<% form_for @activity , "/admin/activities/#{@activity.id}", method: :put , class: "form-horizontal" do |form|%>
<%= form.error_messages %>
<%= partial 'admin/activities/form', :object => form %>
<% end %>