<h4 class="pTitle">修改活动</h4>
<% form_for @activity , "/admin/activities/#{@activity.id}", method: :put , class: "form-horizontal" do |form|%>

<%= partial 'admin/activities/form', :object => form %>
<% end %>