<h4 class="pTitle">update products</h4>
<% form_for @product , "/admin/products/#{@product.id}", method: :put, class: "form-horizontal" do |form|%>
<%= form.error_messages %>
<%= partial 'admin/products/form', :object => form %>
<% end %>