<div id="footer">
  <div class="control-group">
    <div class="controls"> <a href="/about_us" target="_blank">关于酷妈</a>|<a href="#" target="_blank">官方博客</a>|<a href="#" target="_blank">客户交流群</a></div>
  </div>
</div>