<% form_for @user, '/login', :method => :post do |form|%>
<hr/>
  <%= form.error_messages %>
  <p>
  	email:
  	<%= form.text_field :email %>
  </p>
  <p>
  	password:
  	<%= form.password_field :password %>
  </p>
  <p>
  	<%= form.submit 'submit' %>
  </p>
<% end %>