<form action='/auth/identity/callback' method='post'>
  <p>
  	email:
  	<input type="text" name="email"></input>
  </p>
  <p>
  	password:
  	<input type="password" name="password"></input>
  </p>
  <p>
  	<input type="submit"></input>
  </p>
</form>