<%= @identity && @identity.errors.messages %>
<form action='/auth/identity/register' method='post'>
  <p>
  	nickname:
  	<input type="text" name="nickname"></input>
  </p>
  <p>
  	email:
  	<input type="text" name="email"></input>
  </p>
  <p>
  	password:
  	<input type="password" name="password"></input>
  </p>
  <p>
  	password_confirm:
  	<input type="password" name="password_confirm"></input>
  </p>
  <p>
  	<input type="submit"></input>
  </p>
</form>