<% form_tag '/admin/profile/update_password', method: :put do %>
  <p>
    old password:
    <%= password_field_tag :current_password %>
  </p>
  <p>
    new password:
    <%= password_field_tag :password %>
  </p>
  <p>
    confirm password:
    <%= password_field_tag :password_confirmation %>
  </p>
  <p>
    <%= submit_tag 'submit' %>
  </p>
<% end %>