<div class="rightConBox">
<h4 class="sTitle">设置</h4>

<ul class="nav nav-tabs adminTabs">
  <li><a href="/admin/profile">个人信息</a></li>
  <li class="active"><a href="/admin/profile/update_password">修改密码</a></li>
</ul>
<% form_tag '/admin/profile/update_password', method: :put, class:"form-horizontal" do %>
      <fieldset>
        <div class="control-group">
          <label class="control-label" for="">当前密码</label>
          <div class="controls">
            <%= password_field_tag :current_password,class: "input-xlarge" %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="">新密码</label>
          <div class="controls">
            <%= password_field_tag :password,class: "input-xlarge" %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="">重复新密码</label>
          <div class="controls">
            <%= password_field_tag :password_confirmation,class: "input-xlarge" %>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button class="btn btn-kuma btn-large" type="submit">修改密码</button>
          </div>
        </div>
      </fieldset>
</div>
<% end %>